html, body {
    height: 100%;
    margin: 0;
}

.container {
    display: flex;
    max-width: 800px;
    margin: auto;
}

.row {
    flex-direction: row;
}

.col {
    flex-direction: column;
}

main {

}

header h1 {
    text-align: center;
}

section {

}

article{
    justify-content: center;
}

aside {

}

.sidebar {
    position: fixed;
    width: 150px;
    top: 100px;
    right: 50px;
    border-left: black solid 3px;
}

ol {
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

article {

}

footer {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 2rem;
}